body{
    background:pink;
    margin:20px;
}

img{
    width:200px;
    height: 200px;
    padding-left: 25px;
}

h1{
    color: green;
    padding:20px;
}

h2{
    color:red;
}

p{
    font-size:large;
}

.content{
    background-color: black;
    border-radius:5px;
}

.content-right{
    background-color: aquamarine;
    margin-right:150px;
    margin-top:100px;
    display:flex;
    float:right;
    border:2px solid yellow;
    border-radius:5px;
    width: 250px;

}

.content-left{
    background-color: aqua;
    width:450px;
    border: 2px solid yellow;
    padding:5px 0px 0px 15px;
    border-radius:5px;
}
/* -----------Лаба 3------------- */
.container{
    display:grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    background-color: black;
    width: 600px;
    height: 600px;
}

.block{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: aqua;
    width: 200px;
    height: 200px;
    margin: auto;
}

.img{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding:0px;
    width: 200px;
    height: 200px;
}

.container2{
    display:grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    background-color: white;
    width: 600px;
    height: 600px;
}

/* Чтобы было отцентрировано по вертикали, нужно grid-column 1 / 2 */

.block2{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: black;
    width: 200px;
    height: 200px;
}

.conteiner3{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    width:1000px;
    height: 800px;
    background: orange;
    border:2px solid black;
}

.block3{
    flex: 1 1 auto;
    margin:10px;
    height: 200px;
    width: 200px;
    background-color: red;
    border:2px solid black;
}

.number7{
    border:2px solid black;
    display: flex;
    width:300px;
    height: 300px;
}

.box1{
    position: relative;
    top: 20px;
    left:20px;
    border:2px solid red;
    width: 100px;
    height: 100px;
}

.box2{
    position: relative;
    border:2px solid blue;
    top: 80px;
    left:-20px;
    width: 100px;
    height: 100px;
}

.box3{
    position: relative;
    border:2px solid green;
    width: 100px;
    height: 100px;
    top: 140px;
    left:-60px;
}

.photocat{
    width: 100px;
    height: 100px;
}

.cat{
    display: flex;
    float:right;
    top:710px;
    left:1310px;
    position: fixed;
    width: 100px;
    height: 100px;
}